@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ICartService cartService
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <h6>Welcome @context.User.Identity.Name</h6>
                    <a href="/cart">Cart</a>
                    <a @onclick="Logout">Logout</a>
                </Authorized>
                <NotAuthorized>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
             </NotAuthorized>
             </AuthorizeView>
        </div>  
            @Body
    </main>
</div>
@code{
    private async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        await cartService.RemoveAllCartItems();
        NavigationManager.NavigateTo("");
    }
}